@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* body {
    margin: 0;
    padding: 0;
    background: #e1e1e1;
}

div,
p,
a,
li,
td {
    -webkit-text-size-adjust: none;
} */

.ReadMsgBody {
    width: 100%;
    /* background-color: #ffffff; */
}

.ExternalClass {
    width: 100%;
    /* background-color: #ffffff; */
}

/* body {
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
} */
/* 
html {
    width: 100%;
} */

.bull p {
    padding: 0 !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
}

.bull .visibleMobile {
    display: none;
}

.bull .hiddenMobile {
    display: block;
}

@media only screen and (max-width: 600px) {


    .bull table[class=fullTable] {
        width: 96% !important;
        clear: both;
    }

    .bull table[class=fullPadding] {
        width: 85% !important;
        clear: both;
    }

    .bull table[class=col] {
        width: 45% !important;
    }

    .bull .erase {
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    .bull table[class=fullTable] {
        width: 100% !important;
        clear: both;
    }

    .bull table[class=fullPadding] {
        width: 85% !important;
        clear: both;
    }

    .bull table[class=col] {
        width: 100% !important;
        clear: both;
    }

    .bull table[class=col] td {
        text-align: left !important;
    }

    .bull .erase {
        display: none;
        font-size: 0;
        max-height: 0;
        line-height: 0;
        padding: 0;
    }

    .bull .visibleMobile {
        display: block !important;
    }

    .bull .hiddenMobile {
        display: none !important;
    }
}

@media print {
    /* body * {
        display: none;
    } */


}